<!DOCTYPE html>
<html lang="en">

<head>
    <!-- contiene metadatos sobre el documento HTML, 
            como el título de la página, las etiquetas meta y 
            los enlaces a archivos CSS y fuentes. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicom.ico" type="image/x-icon">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-SJFTQK8xBhP1aQB+uJbhNcJ+iB+u8yl7TYO7vTyyhlpZ3p9IJz1hf13lsm0krqfuf3FCa4NhBcIUQl4E5FYlGQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/14ba23c993.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesingin.css">
    <title>Recuperación de Contraseña</title>
</head>

<body>
    <!-- Enlaces a otras páginas -->
    <a href="../index.html" class="back-to-index">Inicio</a>
    <a href="../templates/singin.html" class="back-to-login">Login</a>

    <!-- Envuelve todo el contenido -->
    <div class="wrapper">
        <h1>Recupera tu Contraseña</h1>
        <br>
        <p>Ingresa tu email o tu celu para restablecer tu contraseña.</p>
        <br>

        <!-- formulario con enlace a BBDD-->
        <form id="recovery-form" action="procesar-recuperacion-contrasena.php" method="POST">
            <!-- contenedor email -->
            <div class="input-box">
                <input type="email" id="email" name="email" placeholder="Email">
                <i class="bx bxs-envelope"></i>
            </div>
            <!-- contenedor celular -->
            <div class="input-box">
                <input type="tel" id="phone" name="phone" placeholder="Celu">
                <i class="bx bxs-phone"></i>
                <br>
                <span id="phone-error" style="color: red;"></span>
            </div>

            <br>
            <!-- boton envio de formulario -->
            <button type="submit" class="btn">Enviar solicitud</button>
        </form>
    </div>

    <!-- validaciones con JavaScript -->
    <script src="../js/recuperacionpss-val.js"></script>
</body>

</html>