<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicom.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-SJFTQK8xBhP1aQB+uJbhNcJ+iB+u8yl7TYO7vTyyhlpZ3p9IJz1hf13lsm0krqfuf3FCa4NhBcIUQl4E5FYlGQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/14ba23c993.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/crud.css">
    <title>Gestion</title>

</head>

<body>
    <section id="inicio">
        <h1>Gestión de usuarios</h1>
    </section>

    <section id="gestion">
        <h2>Nuevo usuario</h2>
        <div class="container-gestion">
            <div class="form-crud">
                <form id="form-gestion" class="gestion-form">
                    <div class="form-accion">
                        <label for="nombre">Usuario</label>
                        <input type="text" id="nombre" name="nombre">
                    </div>
                    <div class="form-accion">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="form-accion">
                        <label for="contrasena">Contraseña</label>
                        <input type="text" id="contrasena" name="contrasena">
                    </div>

                    <div class="form-accion">
                        <label for="celular">Teléfono</label>
                        <input type="text" id="celular" name="celular">
                    </div>
                    <button class="btn-agregar" type="button" id="btn-agregar-usuario">Agregar</button>
                </form>
            </div>
        </div>
    </section>

    <section id="list" class="lista">
        <h2>Listado de usuarios</h2>
        <table id="list-table-usuarios" class="table">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Contraseña</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tbody-table-usuarios">
            </tbody>
        </table>
    </section>  
    <footer>
        <p><a href="../index.html">Inicio</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/crud.js"></script>
    <script src="../js/register-val.js"></script>
</body>

</html>
