<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicom.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fontsgstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-SJFTQK8xBhP1aQB+uJbhNcJ+iB+u8yl7TYO7vTyyhlpZ3p9IJz1hf13lsm0krqfuf3FCa4NhBcIUQl4E5FYlGQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-Vw7VwI2cZLgnPJBwTyBDC9OCJvnBdH3tR/mIuPPy3Lf4vRHzhOiJIZv3xm9Kv2yCNfWosj0JXg70z+ljT1PphQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/14ba23c993.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Automoviles</title>
</head>

<body>
    <header class="=header">
        <div class="banner">
            <img src="../static/img/Imagenes/Paisaje/rutaTafiValle.jpg" alt="Banner">

            <div class="contenedor-logo">
                <img src="../static/logo.png" alt="Banner" class="logo">
                <div class="nombre-logo-autos">Viajeros Argentinos</div>
            </div>

            <div class="pestanas">
                <a href="../index.html" class="pestaña">Inicio</a>
                <a href="alojamientos.html" class="pestaña">Alojamientos</a>
                <a href="atracciones-turisticas.html" class="pestaña">Atracciones Turísticas</a>
                <a href="comunidad-viajeros.html" class="pestaña">Comunidad Viajeros</a>
                <a href="singin.html" class="pestaña">Login</a>
            </div>
        </div>
    </header>
    <br><br>

    <h1>La ruta es tuya: rueda hacia la ventura</h1>
    <h2>Tu vehiculo, tu viaje: encuentra tu auto perfecto.</h2>
    <br><br>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Quiero conducir...">
        <button onclick="buscar()">Buscar</button>
    </div>
    <div id="resultados"></div>
    <br><br>

    <main>
        <h2>DEPORTIVOS</h2>
        <section id="deportivosSection">
            <!-- Aquí se cargarán dinámicamente los autos deportivos -->
        </section>

        <h2>AUTOS PEQUEÑOS</h2>
        <section id="pequenosSection">
            <!-- Aquí se cargarán dinámicamente los autos pequeños -->
        </section>

        <h2>AUTOS GRANDES</h2>
        <section id="grandesSection">
            <!-- Aquí se cargarán dinámicamente los autos grandes -->
        </section>

        <h2>SUV</h2>
        <section id="suvSection">
            <!-- Aquí se cargarán dinámicamente los SUV -->
        </section>

        <h2>PICK UP</h2>
        <section id="pickupSection">
            <!-- Aquí se cargarán dinámicamente las pick up -->
        </section>

        <!-- Formulario para agregar un nuevo vehículo -->
        <form id="formAgregar">
            <input type="text" id="nombre" placeholder="Nombre del vehículo" required>
            <input type="text" id="categoria" placeholder="Categoría" required>
            <input type="number" id="cant_personas" placeholder="Cantidad de personas" required>
            <input type="number" id="cant_valijas_c" placeholder="Cantidad de valijas chicas" required>
            <input type="number" id="cant_valijas_m" placeholder="Cantidad de valijas medianas">
            <input type="number" id="cant_valijas_g" placeholder="Cantidad de valijas grandes">
            <input type="number" id="autonomia" placeholder="Autonomía" required>
            <input type="number" id="stock_disponible" placeholder="Stock disponible" required>
            <button type="submit">Agregar vehículo</button>
        </form>
    </main>


    <footer>
        <p>Seguinos en redes</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <i class="bx bxl-facebook-square"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://instagram.com" target="_blank">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="https://tiktok.com" target="_blank">
                <i class="bx bxl-tiktok"></i>
            </a>
        </div>
        <a href="https://wa.me/xxxxxxxxxx" class="whatsapp-float" target="_blank">
            <i class="bx bxl-whatsapp"></i>
        </a>
        <p>&copy; 2024 Página de Turismo. Todos los derechos reservados.</p>
    </footer>

</body>

</html>
