<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicom.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fontsgstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-SJFTQK8xBhP1aQB+uJbhNcJ+iB+u8yl7TYO7vTyyhlpZ3p9IJz1hf13lsm0krqfuf3FCa4NhBcIUQl4E5FYlGQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/14ba23c993.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Atracciones</title>
</head>

<body>

    <header class="=header">
        <div class="banner">
            <img src="../static/img/Imagenes/Paisaje/Camino_Infiernillo_Tucuman.jpg" alt="Banner">

            <div class="contenedor-logo">
                <img src="../static/logo.png" alt="Banner" class="logo">
                <div class="nombre-logo">Viajeros Argentinos</div>
            </div>

            <div class="pestanas">
                <a href="../index.html" class="pestaña">Inicio</a>
                <a href="alojamientos.html" class="pestaña">Alojamientos</a>
                <a href="alquiler-de-autos.html" class="pestaña">Alquiler de autos</a>
                <a href="comunidad-viajeros.html" class="pestaña">Comunidad Viajeros</a>
                <a href="singin.html" class="pestaña">Login</a>
            </div>
        </div>
    </header>



    <h1>Descubrí Argentina: ¡Excursiones que marcan la diferencia!</h1>
    <section id="inicio">
        <h2>Sumérgite en la aventura y conocé lugares que te dejarán sin aliento</h2>
        <br>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Descubrimos...">
            <button onclick="buscar()">Buscar</button>
        </div>
        <div id="resultados"></div>
    </section>
    <br>


    <div class="container-atracciones">
        <div class="box">
            <img src="../static/img/Imagenes/Paisaje/cataratas.jpg" alt="Cataratas-Misiones">
            <h2>Cataratas de Iguazu</h2>
            <p>Aprenda todo lo que hay que saber sobre las famosas Cataratas del Iguazú en esta visita guiada de un día
                completo por el lado argentino desde Puerto Iguazú. No se preocupe por la navegación o las direcciones,
                ya que se proporciona transporte de ida y vuelta. Su guía lidera la exploración de las cascadas con
                caminatas por senderos que ofrecen vistas de la famosa Garganta del Diablo. Tome fotografías de las
                cataratas desde múltiples puntos de vista.</p>
        </div>
        <div class="box">
            <img src="../static/img/Imagenes/Paisaje/peninsula-valdes.jpg" alt="Santa-Cruz-Peninsula-Valdes">
            <h2>Avistaje de ballenas</h2>
            <p>Déjate seducir por el fascinante paisaje de Península Valdés en esta excursión de un día completo desde
                Puerto Madryn. Admire la fascinante belleza de esta famosa reserva de vida silvestre de la Patagonia,
                declarada Patrimonio de la Humanidad por la UNESCO. Opcional: Si eliges la opción "incluye navegación
                para avistamiento de ballenas", ¡obtendrás una vista más cercana de esta maravilla natural desde el
                agua! ¡Esta es una experiencia única que no te puedes perder!.</p>
        </div>
        <div class="box">
            <img src="../static/img/Imagenes/Paisaje/salta.jpg" alt="Salta-la-linda">
            <h2>Salta la Linda</h2>
            <p>El noroeste de Argentina es famoso por sus extraordinarios paisajes y el exclusivo vino Torrontes y esta
                excursión de día completo desde Salta combina ambos en una excursión. Viaje a través de los
                espectaculares valles de Calchaquí, maravíllese ante coloridas formaciones rocosas como la Garganta del
                Diablo, el Anfiteatro y los Castillos en la reserva Quebrada de las Conchas para, a continuación,
                disfrutar de una cata de vinos en algunas de las bodegas más famosas de Cafayate.</p>
        </div>
        <div class="box">
            <img src="../static/img/Imagenes/Paisaje/aconcagua.jpg" alt="Cabalgata-cordillera-mendoza">
            <h2>Tour de Alta Montaña</h2>
            <p>¡Descubre la majestuosidad de Mendoza! Desde Las Cuevas hasta el imponente Cerro Aconcagua, este tour te
                llevará a lugares únicos como Potrerillos, Valle de Uspallata, Penitentes, Puente del Inca, Puente
                Picheuta y el Mirador Cerro Aconcagua. ¡Vive la emoción de explorar la belleza de la cordillera de Los
                Andes!.</p>
        </div>
    </div>






    <footer>
        <p>Seguinos en redes</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <i class="bx bxl-facebook-square"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://instagram.com" target="_blank">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="https://tiktok.com" target="_blank">
                <i class="bx bxl-tiktok"></i>
            </a>
        </div>
        <a href="https://wa.me/xxxxxxxxxx" class="whatsapp-float" target="_blank">
            <i class="bx bxl-whatsapp"></i>
        </a>
        <p>&copy; 2024 Página de Turismo. Todos los derechos reservados.</p>
    </footer>

</body>

</html>