<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./static/favicom.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fontsgstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-SJFTQK8xBhP1aQB+uJbhNcJ+iB+u8yl7TYO7vTyyhlpZ3p9IJz1hf13lsm0krqfuf3FCa4NhBcIUQl4E5FYlGQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/14ba23c993.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Viajeros Argentina</title>
</head>

<body>
    <header class="=header">
        <div class="banner">
            <img src="static/img/Imagenes/Paisaje/Tafi-del-Valle-Tucuman-Argentina-1-1024x512.jpg" alt="Banner">

            <div class="contenedor-logo">
                <img src="./static/logo.png" alt="Banner" class="logo">
                <div class="nombre-logo">Viajeros Argentinos</div>
            </div>

            <div class="pestanas">
                <a href="./templates/alojamientos.html" class="pestaña">Alojamientos</a>
                <a href="./templates/alquiler-de-autos.html" class="pestaña">Alquiler de autos</a>
                <a href="./templates/atracciones-turisticas.html" class="pestaña">Atracciones Turísticas</a>
                <a href="./templates/comunidad-viajeros.html" class="pestaña">Comunidad Viajeros</a>
                <a href="./templates/singin.html" class="pestaña">Login</a>
            </div>
        </div>
    </header>

    <br>

    <section id="inicio">
        <h1>Que comience la aventura</h1>
        <h2>¿Ya sabés a donde vas a viajar?</h2>
        <br>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Próxima parada...">
            <button onclick="buscar()">Buscar</button>
        </div>
        <div id="resultados"></div>
    </section>
    <br><br>

    <div class="container-all">
        <input type="radio" id="1" name="image-slide" hidden>
        <input type="radio" id="2" name="image-slide" hidden>
        <input type="radio" id="3" name="image-slide" hidden>
        <input type="radio" id="4" name="image-slide" hidden>
        <input type="radio" id="5" name="image-slide" hidden>
        <input type="radio" id="6" name="image-slide" hidden>
        <input type="radio" id="7" name="image-slide" hidden>
        <input type="radio" id="8" name="image-slide" hidden>
        <div class="slide">
            <div class="item-slide">
                <img src="static/img/Imagenes/Paisaje/slider1.jpg" alt="slider1">
            </div>
            <div class="item-slide">
                <img src="static/img/Imagenes/Paisaje/slider2.jpg" alt="slider2">
            </div>
            <div class="item-slide">
                <img src="static/img/Imagenes/Paisaje/slider3.jpg" alt="slider3">
            </div>
            <div class="item-slide">
                <img src="static/img/Imagenes/Paisaje/slider4.jpg" alt="slider4">
            </div>
            <div class="item-slide">
                <img src="static/img/Imagenes/Paisaje/slider5.jpg" alt="slider5">
            </div>
            <div class="item-slide">
                <img src="static/img/Imagenes/Paisaje/slider6.jpg" alt="slider6">
            </div>
            <div class="item-slide">
                <img src="static/img/Imagenes/Paisaje/slider7.jpg" alt="slider7">
            </div>
            <div class="item-slide">
                <img src="static/img/Imagenes/Paisaje/slider8.jpg" alt="slider8">
            </div>
        </div>
        <div class="pagination">
            <label class="pagination-item" for="1">
                <img src="static/img/Imagenes/Paisaje/slider1.jpg" alt="slider1">
            </label>
            <label class="pagination-item" for="2">
                <img src="static/img/Imagenes/Paisaje/slider2.jpg" alt="slider2">
            </label>
            <label class="pagination-item" for="3">
                <img src="static/img/Imagenes/Paisaje/slider3.jpg" alt="slider3">
            </label>
            <label class="pagination-item" for="4">
                <img src="static/img/Imagenes/Paisaje/slider4.jpg" alt="slider4">
            </label>
            <label class="pagination-item" for="5">
                <img src="static/img/Imagenes/Paisaje/slider5.jpg" alt="slider5">
            </label>
            <label class="pagination-item" for="6">
                <img src="static/img/Imagenes/Paisaje/slider6.jpg" alt="slider6">
            </label>
            <label class="pagination-item" for="7">
                <img src="static/img/Imagenes/Paisaje/slider7.jpg" alt="slider7">
            </label>
            <label class="pagination-item" for="8">
                <img src="static/img/Imagenes/Paisaje/slider8.jpg" alt="slider8">
            </label>
        </div>
    </div>
    <br><br><br><br><br>

    <section id="contacto">
        <h2>¿Queres mas info? Contactanos!</h2>
        <br>
        <div class="container">
            <div class="form-column">
                <form class="contact-form" onsubmit="return validarFormulario()"> 
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono:</label>
                        <input type="text" id="telefono" name="telefono">
                    </div>
                    <div class="form-group">
                        <label for="asunto">Asunto:</label>
                        <input type="text" id="asunto" name="asunto">
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Mensaje:</label>
                        <textarea id="mensaje" name="mensaje"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="respuesta">Recibir respuesta por:</label>
                        <select id="respuesta" name="respuesta">
                            <option value="">Seleccionar</option>
                            <option value="email">Correo electrónico</option>
                            <option value="celular">Mensaje de texto</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="suscripcion" name="suscripcion">
                        <label for="suscripcion">Recibir promociones por correo electrónico</label>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
            </div>
            <div class="contact-column">
                <h3>INFO de contacto</h3>
                <br>
                <h3>Oficina de Turismo</h3>
                <p>Dr. Romang 197, Villa Huidobro, Córdoba.</p>
                <br>
                <h3>Email</h3>
                <p>viajerosargentinos@vje.com</p>
                <p>Te respoderemos a la brevedad</p>
                <br>
                <h3>Teléfonos</h3>
                <p>(3405)-4971435 / (3405)-4976820</p>
            </div>
        </div>
    </section>

    <footer>
        <p>Seguinos en redes</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <i class="bx bxl-facebook-square"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://instagram.com" target="_blank">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="https://tiktok.com" target="_blank">
                <i class="bx bxl-tiktok"></i>
            </a>
        </div>
        <a href="https://wa.me/xxxxxxxxxx" class="whatsapp-float" target="_blank">
            <i class="bx bxl-whatsapp"></i>
        </a>
        <p>&copy; 2024 Página de Turismo. Todos los derechos reservados.</p>
        <p><a href="./templates/administracion.html">Administracion</a></p>
    </footer>


    <script src="./js/index-val.js"></script>

</body>
</html>