<!DOCTYPE html>
<html lang="en">

<head>
    <!-- contiene metadatos sobre el documento HTML, 
            como el título de la página, las etiquetas meta y 
            los enlaces a archivos CSS y fuentes. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicom.ico" type="image/x-icon">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-SJFTQK8xBhP1aQB+uJbhNcJ+iB+u8yl7TYO7vTyyhlpZ3p9IJz1hf13lsm0krqfuf3FCa4NhBcIUQl4E5FYlGQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/14ba23c993.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesingin.css">
    <title>Registrate</title>
</head>

<body>
    <!-- Enlaces a otras páginas -->
    <a href="../index.html" class="back-to-index">Inicio</a>
    <!-- Envuelve todo el contenido -->

    <div class="wrapper">
        <!-- formulario -->
        <form action="#" onsubmit="return validateForm()">
            <h1>Registrate</h1>
            <!-- contenedor usuario -->
            <div class="input-box">
                <input type="text" id="username" placeholder="Usuario">
                <i class="bx  bxs-user"></i>
            </div>
            <!--  contenedor email -->
            <div class="input-box">
                <input type="email" id="email" placeholder="Email">
                <i class="bx bxs-envelope"></i>
            </div>
            <!-- contenedor contraseña -->
            <div class="input-box">
                <input type="password" id="password" placeholder="Contraseña">
                <i class="bx  bxs-lock-alt"></i>
            </div>
            <!-- contenedor confirmar contraseña -->
            <div class="input-box">
                <input type="password" id="passwordConfirm" placeholder="Confirmar contraseña">
                <i class="bx  bxs-lock-alt"></i>
                <div id="confirmacion-error" style="color: red;"></div>
            </div>
            <!-- contenedor celular -->
            <div class="input-box">
                <input type="tel" id="celular" placeholder="Celu">
                <i class="bx  bxs-phone"></i>
                <div id="celular-error" style="color: red;"></div>
            </div>

            <!-- checkbox terminos y condiciones -->
            <div class="remember-forgot" id="aceptarTerminos">
                <label><input type="checkbox">Acepto terminos y condiciones</label>
            </div>

            <!--  boton enviar -->
            <button type="submit" class="btn">Registrate</button>
            <br><br>
            <hr class="divider">


            <!-- contenedor inicio de sesion -->
            <div class="register-link">
                <p>¿Tienes cuenta? <a href="singin.html"> Inicia sesion</a></p>
            </div>
        </form>
    </div>

    <!-- Validaciones JavaScript -->
    <script src="../js/register-val.js"></script>

</body>

</html>
